<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spiritflightapps.berg"
    android:versionCode="1406030"
    android:versionName="0.43" >
    <!-- NOTE: MUST KEEP 7 digits in versionCode, date + one more digit -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

  <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

          
        <activity
            android:name=".TestPatientListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".AssessmentActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
      <activity
          android:name=".PatientActivity"
          android:label="Add patient" />


      <provider
      android:name="com.spiritflightapps.berg.contentprovider.MyPatientContentProvider"
      android:authorities="com.spiritflightapps.berg.contentprovider.MyPatientContentProvider" >
   </provider>

      <provider
          android:name=".contentprovider.AssessmentContentProvider"
          android:authorities="com.spiritflightapps.berg.contentprovider.AssessmentContentProvider" >
      </provider>
    </application>
</manifest>
